<h1>Basics Static page</h1>

<ol>
    <li>
        <h3>Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</h3>

        <p>
            Es una colección de objetos similares. 
        </p>
    </li>

    <li>
        <h3>Qué puede hacerse con un resource?</h3>

        <h4>
            Puedo acceder a él y aplicar los métodos y operaciones CRUD
        </h4>
        <ul>
            <li>
                Crear o Create para agregar objetos
            </li>
            <li>
                Leer o Read para obtener la información de un objeto
            </li>
            <li>
                Actualizar o Update para modificar los valores de un objeto
            </li>
            <li>
                Quitar o Delete para sacar de la colección un objeto.
            </li>
        </ul>
    </li>
    <li>
        <h3>Qué es RESTful routing?</h3>
        <p>REST hace referencia a la transferencia de estado representacional, se basa
            en la transferencia de recursos mientras que HTTP se basa en la transferencia
            de archivos.
            En este orden de ideas dentro de RESTful todo es un recurso, estos recursos
            son maipulados a partir de una URI(Identificador universal de recurso)
        </p>        
        <ul>
            <li>
                <strong>Son 4 las acciones básicas</strong>
            </li>
            <li>
                Acciones: <strong>Create, Read, Update y Delete</strong>
            </li>
            <li>
                Verbos: <strong>Post, Get, Put, Patch y Delete</strong> entre otros.
            </li>
        </ul>
    </li>
</ol>

<a href='./home'><strong>Home</strong></a>  
<a href='./git'><strong>Git</strong></a>
<a href='./ruby'><strong>Ruby</strong></a>
