<h1>Git static page</h1>

<h3>Cómo se realizan las siguientes acciones usando git por consola:</h3>

<ul>
    <li>
        <h4>Iicializar repo de git nuevo en una aplicación existente</h4>
        <ol>
            <li>
                <p>git init</p>
            </li>
            <li>
                <p>Creo repositorio nuevo en github con el nombre del proyecto local</p>
            </li>
            <li>
                <p>git remote add origin https://github.com/userNameGithub/nombreDelProyecto.git </p>
                <p>git push -u origin master</p>
            </li>
        </ol>
    </li>
    <li>
        <h4>Creación de un branch nuevo</h4>
        <p>
            git checkout -b name_new_branch
        </p>
    </li>
    <li>
        <h4>Realizar un commit incluyendo todos los cambios actuales</h4>
        <p>git commit -am 'message commit'</p>
    </li>
    <li>
        <h4>Enviar código al repositorio remoto</h4>
        <p>git push</p>
    </li>
    <li>
        <h4>Configurar origen del repositorio remoto para evitar escribirlo</h4>
        <p>git push -u origin name_repo</p>
    </li>
    <li>
        <h4>Diferencia entre reset y revert</h4>
        <p><strong>Reset:</strong> Es para deshacer commits</p>
        <p><strong>Revert</strong> Es para cambiar commits y deshacer cambios hechos en dichos commits</p>
    </li>
    <li>
        <h4>Comando checkout</h4>
        <p>Sirve para cambiar entre ramas, inspeccionar commits antiguos</p>
        <p>También sirve para restaurar archivos del árbol de trabajo
    </li>
    <li>
        <h4>Cómo ver los commits que se han realizado en un proyecto</h4>
        <p>git log</p>
    </li>
    <li>
        <h4>Hacer commit para cada archivo modificado</h4>
        <p>git commit -m "message" name_archivo</p>
    </li>
</ul>
