<h1>Bienvenido al proyecto 1 del bootcamp Ruby on Rails Con VOSAVOS</h1>

<nav>
    <ul>
        <li>
            <a href='./basics'>Basics</a>
        </li>            
        <li>
            <a href='./ruby'>Ruby</a>
        </li> 
        <li>
            <a href='./git'>Git</a>
        </li> 
    <ul>
<nav>

<p>
    Hoy es:
    <%= Time.now.strftime('%A, %d de %B de %Y') %>    
</p>
<p>
    Hora:
    <%= Time.now.in_time_zone('Bogota').strftime('%H:%M') %>
</p>