<h1>Ruby static page</h1>

<h3>Cómo se realizan las siguientes acciones:</h3>

<ul>
    <li>
        <p>Interpolación de strings</p>
        <p>
            En la interpolación intervienen <em>#{}</em> y funciona
            si el string está definido con comillas dobles.
        </p>
        <p>Ejemplo:</p>
        <p>nombre = "Wilmar"</p>
        <p>edad = 38</p>
        <p>puts "#{nombre} tiene #{edad} años"</p>
        <p>output //Wilmar tiene 38 años</p>
    </li>
    <li>
        <h4>Declaración de un arreglo</h4>
        <p>
            arr = []  #=> Arreglo vacío
        </p>
        <p>
            arr = Array.new #=> Crea un arreglo vacío también
        </p>
    </li>
    <li>
        <h4>Adicionar elemento al final</h4>
        <p>arr.push(elemento) ó arr << elemento </p>
    </li>
    <li>
        <h4>Iterar con el comando each </h4>
        <p>arr.each do |elemento|</p>
        <p>... code...</p>
        <p>end</p>
    </li>
    <li>
        <h4>Declaración de un hash</h4>
        <p>
            h = {}  #=> hash vacío #=> {}
        </p>
        <p>
            h = Hash[]  #=> hash vacío #=> {}
        </p>
        <p>
            h = Hash.new #=> Crea un hash vacío también #=> {}
        </p>
    </li>
    <li>
        <h4>Iterar un hash con el comando each</h4>
        <p>
            h.each do |llave, valor|
        </p>
        <p>... code...</p>
        <p>end</p>
    </li>
    <li>
        <h4>Qué es un blog en ruby?</h4>
        <p>
            Promise: Pendiente
        </p>
    </li>
    <li>
        <h4>Convención para nombrar variables en Ruby</h4>
        <p>Mayúsculas para Constantes y no podrá asignársele otro valor</p>
        <p>minúsculas para variables se le puede asignar diferentes valores</p>
        <p>end</p>
    </li>
    <li>
        <h4>Qué son attr_reader, attr_writer y attr_accesor? Para qué sirven?
        </h4>
        <p>
            Promise: Pendiente
        </p>
    </li>
</ul>

